.letter
{
    font-family: 'Ultra', serif;
    text-transform: uppercase;
    font-size: 3em;
    color: rgb(50,50,150);
    text-decoration: none;
}
.letter_grades > div
{
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 100px;
    height: 100px;
    background: url('images/paper-bg-white.jpg') no-repeat;
    background: url('http://extras.mnginteractive.com/live/media/site36/2014/0905/20140905_035418_paper-bg-white.jpg') no-repeat;
    background-size: contain;
}
